@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  border-bottom: 2px solid rgba(117, 113, 113, 0.426);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  background-color: rgba(255, 255, 255, 0.681);
}

.home-page {
  background-color: rgba(255, 255, 255, 0.681);
  min-height: 94vh;
  min-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-page::before {
  content: "";
  position: absolute;
  background: url("./assets/homePage.jpg") no-repeat center center/cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.home-title {
  color: #333;
  font-size: 2.5rem;
  font-weight: 500;

  text-align: center;
  padding-bottom: 1rem;
}

.home-info {
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
  padding-bottom: 1.5rem;
}

.start {
  background-color: #33333300;
  color: #333;
  border: 2px solid #333;
  padding: 8px 60px;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  cursor: pointer;
}

.start:hover {
  background-color: #333;
  color: white;
}

.list {
  display: flex;
  gap: 1rem;
  font-size: 1.1rem;
}

.list li {
  list-style: none;
}

.list li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.list li a:hover {
  text-decoration: 2px underline;
  text-underline-offset: 4px;
  transition: all ease-in;
}

.page {
  min-height: 94vh;
  width: 100%;
}

.box-info-update {
  border: 2px solid rgba(117, 113, 113, 0.426);
  background-color: rgba(255, 255, 255, 0.799);
  border-radius: 5px;
  padding: 5rem;
  text-align: center;
}

.update-shoes::before {
  content: "";
  position: absolute;
  background: url("./assets/ryan-plomp-jvoZ-Aux9aw-unsplash.jpg") no-repeat
    center center/cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.product-update-title {
  color: #333;
  font-size: 1.2rem;
  text-align: center;
  padding: 2rem;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.update-page,
.add-page,
.update-shoes {
  background-color: rgba(255, 255, 255, 0.681);
  position: relative;
  padding: 10rem;
}

.update-page::before {
  content: "";
  position: absolute;
  background: url("./assets/formUpdate.jpg") no-repeat center center/cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.add-page::before {
  content: "";
  position: absolute;
  background: url("./assets/wengang-zhai-_fOL6ebfECQ-unsplash.jpg") no-repeat
    center center/cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

img {
  width: 350px;
  height: 350px;
}

.ul-catalog {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 5rem 20rem;
}

.li-catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.li-catalog a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #333;
  font-weight: 500;
  padding-top: 0.5rem;
}

.shoe-price {
  font-size: 0.8rem;
}

.update {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

input {
  padding: 1rem;
  border: 2px solid rgba(117, 113, 113, 0.6);
  border-radius: 5px;
}

label {
  font-size: 1rem;
  color: #333;
  font-weight: 500;
}

.update-shoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.update-shoes p {
  font-size: 1rem;
}

span {
  font-size: 1.2rem;
  font-weight: 500;
}

.back-btn {
  padding: 7px 20px;
}

.add-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.add-title {
  text-align: center;
  font-size: 1.5rem;
}

.message-for-updating-user {
  padding-top: 1rem;
  color: #333;
  font-size: 1.2rem;
  text-align: center;
}

.error-page::before {
  content: "";
  position: absolute;
  background: url("./assets/error.jpg") no-repeat center center/cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media (min-width: 350px) and (max-width: 700px) {
  .list a {
    font-size: 1rem;
  }

  .home-title {
    font-size: 1.5rem;
  }

  .home-info {
    font-size: 1rem;
    text-align: center;
  }

  .ul-catalog {
    padding: 0;
    margin-top: 1rem;
  }

  img {
    width: 250px;
    height: 250px;
  }

  .box-info-update {
    padding: 10px;
    width: 100vw;
  }

  .box-info-update p {
    font-size: 1.2rem;
    padding: 1rem;
  }

  .add-page,
  .update-page {
    padding: 1rem;
  }

  .buttons {
    flex-direction: column;
  }
}
